.calculator {
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.calculator .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculator .row .calculator-body {
  height: 650px;
  width: 400px;
  -webkit-box-shadow: 0 0 7px 1px green !important;
          box-shadow: 0 0 7px 1px green !important;
  border-radius: 20px;
  position: relative;
  background-color: white;
}

.calculator .row .calculator-body .head {
  text-align: center;
  padding-top: 10px;
  position: relative;
  padding: 30px 0px;
  height: 50px;
}

.calculator .row .calculator-body .head .ribbon {
  width: 108%;
  height: 50px;
  background-color: lightgreen;
  margin-left: -4%;
  position: absolute;
  border-radius: 5px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.calculator .row .calculator-body .head .ribbon::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -24px;
  left: 12px;
}

.calculator .row .calculator-body .head .ribbon::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -24px;
  right: 12px;
}

.calculator .row .calculator-body .head .ribbon h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 3px rgba(153, 153, 153, 0.5);
}

.calculator .row .calculator-body .content {
  padding: 0 30px;
}

.calculator .row .calculator-body .content .car-input,
.calculator .row .calculator-body .content .lastmonth-input,
.calculator .row .calculator-body .content .money-input,
.calculator .row .calculator-body .content .month-input {
  width: 340px;
  height: 50px;
  position: relative;
  margin-top: 20px;
}

.calculator .row .calculator-body .content .car-input input,
.calculator .row .calculator-body .content .lastmonth-input input,
.calculator .row .calculator-body .content .money-input input,
.calculator .row .calculator-body .content .month-input input {
  content: "";
  width: 340px;
  border: none;
  height: 100%;
  background: transparent;
  padding-left: 20px;
  font-size: 22px;
  outline: none;
  position: absolute;
  padding-top: 7px;
}

.calculator .row .calculator-body .content .car-input input:focus + label,
.calculator .row .calculator-body .content .lastmonth-input input:focus + label,
.calculator .row .calculator-body .content .money-input input:focus + label,
.calculator .row .calculator-body .content .month-input input:focus + label {
  top: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}

.calculator .row .calculator-body .content .car-input label,
.calculator .row .calculator-body .content .lastmonth-input label,
.calculator .row .calculator-body .content .money-input label,
.calculator .row .calculator-body .content .month-input label {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 20px;
  position: absolute;
  padding-left: 20px;
  top: 20%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.calculator .row .calculator-body .content .car-input .border,
.calculator .row .calculator-body .content .lastmonth-input .border,
.calculator .row .calculator-body .content .money-input .border,
.calculator .row .calculator-body .content .month-input .border {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 1px #cdcdcd;
          box-shadow: 0 0 15px 1px #cdcdcd;
  position: absolute;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.calculator .row .calculator-body .content .car-input .bordergreen,
.calculator .row .calculator-body .content .lastmonth-input .bordergreen,
.calculator .row .calculator-body .content .money-input .bordergreen,
.calculator .row .calculator-body .content .month-input .bordergreen {
  -webkit-box-shadow: 0 0 7px 1px green !important;
          box-shadow: 0 0 7px 1px green !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.calculator .row .calculator-body .content .car-input .labelactive,
.calculator .row .calculator-body .content .lastmonth-input .labelactive,
.calculator .row .calculator-body .content .money-input .labelactive,
.calculator .row .calculator-body .content .month-input .labelactive {
  top: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}

.calculator .row .calculator-body .content .cta {
  width: 100%;
  margin-top: 30px;
}

.calculator .row .calculator-body .content .cta button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.12rem;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: 0 0 15px 1px lightgreen;
          box-shadow: 0 0 15px 1px lightgreen;
  background-color: white;
  pointer-events: none;
  border: 3px solid lightgreen;
  color: #72b872;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.calculator .row .calculator-body .content .cta .active {
  -webkit-box-shadow: 0 0 7px 1px green;
          box-shadow: 0 0 7px 1px green;
  background-color: lightgreen;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: auto;
}

.calculator .row .calculator-body .content .result-input {
  width: 335px;
  height: 100px;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 15px 1px #cdcdcd;
          box-shadow: 0 0 15px 1px #cdcdcd;
  border-radius: 10px;
}

.calculator .row .calculator-body .content .result-input input {
  height: 100%;
  width: 100%;
  font-size: 50px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.calculator .row .rates {
  width: 300px;
  height: 350px;
  -webkit-box-shadow: 0 0 7px 1px dodgerblue !important;
          box-shadow: 0 0 7px 1px dodgerblue !important;
  border-radius: 20px;
  margin-left: -10px;
  margin-top: 140px;
  padding: 10px;
  background-color: white;
}

.calculator .row .rates .rates-head {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 20px auto;
}

.calculator .row .rates .rates-head .ribbon {
  width: 108%;
  height: 50px;
  background-color: dodgerblue;
  margin-right: -4%;
  position: absolute;
  border-radius: 5px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.calculator .row .rates .rates-head .ribbon::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -24px;
  right: 12px;
}

.calculator .row .rates .rates-head .ribbon h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 3px rgba(28, 27, 27, 0.5);
}

.calculator .row .rates .rates-body {
  padding-left: 20px;
  position: relative;
  padding-top: 10px;
}

.calculator .row .rates .rates-body .rate-input,
.calculator .row .rates .rates-body .opening-input,
.calculator .row .rates .rates-body .accountfee-input {
  width: 260px;
  height: 50px;
  position: relative;
  margin-top: 20px;
}

.calculator .row .rates .rates-body .rate-input input,
.calculator .row .rates .rates-body .opening-input input,
.calculator .row .rates .rates-body .accountfee-input input {
  content: "";
  width: 340px;
  border: none;
  height: 100%;
  background: transparent;
  padding-left: 20px;
  font-size: 22px;
  outline: none;
  position: absolute;
  padding-top: 7px;
}

.calculator .row .rates .rates-body .rate-input input:focus + label,
.calculator .row .rates .rates-body .opening-input input:focus + label,
.calculator .row .rates .rates-body .accountfee-input input:focus + label {
  top: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}

.calculator .row .rates .rates-body .rate-input label,
.calculator .row .rates .rates-body .opening-input label,
.calculator .row .rates .rates-body .accountfee-input label {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 20px;
  position: absolute;
  padding-left: 20px;
  top: 20%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.calculator .row .rates .rates-body .rate-input .border,
.calculator .row .rates .rates-body .opening-input .border,
.calculator .row .rates .rates-body .accountfee-input .border {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 1px #cdcdcd;
          box-shadow: 0 0 15px 1px #cdcdcd;
  position: absolute;
  pointer-events: none;
}

.calculator .row .rates .rates-body .rate-input .borderblue,
.calculator .row .rates .rates-body .opening-input .borderblue,
.calculator .row .rates .rates-body .accountfee-input .borderblue {
  -webkit-box-shadow: 0 0 7px 1px dodgerblue !important;
          box-shadow: 0 0 7px 1px dodgerblue !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.calculator .row .rates .rates-body .rate-input .labelactive,
.calculator .row .rates .rates-body .opening-input .labelactive,
.calculator .row .rates .rates-body .accountfee-input .labelactive {
  top: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */